repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.31.1
    hooks:
      - id: pyupgrade
        args:
          - --py36-plus
        exclude: setupbase.py
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.0.1
    hooks:
      - id: reorder-python-imports
        exclude: setupbase.py
  - repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
      - id: black
        exclude: setupbase.py
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/PyCQA/flake8
    rev: "4.0.1"
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.11.0
    hooks:
      - id: eslint
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        exclude: ipyparallel/nbextension/.*
        types: [file]
        additional_dependencies:
          - "@typescript-eslint/eslint-plugin@2.27.0"
          - "@typescript-eslint/parser@2.27.0"
          - eslint@^6.0.0
          - eslint-config-prettier@6.10.1
          - eslint-plugin-prettier@3.1.4
          - eslint-plugin-react@7.21.5
          - typescript@4.1.3
