recursive-include dask_jobqueue *.py
recursive-include dask_jobqueue *.yaml

include LICENSE.txt
include README.rst

include requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
include versioneer.py
include dask_jobqueue/_version.py
