include COPYING.md
include CONTRIBUTING.md
include README.md

include setupbase.py

# enable-at-install config
graft etc

# lab extension
graft lab
prune lab/lib
include install.json
include package*.json
include tsconfig*.json
graft ipyparallel/labextension


# Documentation
graft docs

# Examples
graft examples

# docs subdirs we want to skip
prune docs/_build

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude .DS_Store
